
.navbar{
    display: flex;
    justify-content: center;
  }
  .links{
    position: relative;
    margin-top: 20px;
  
  }
  .gradient::after{
    content: '';
    position: absolute;
    left: -50px;
    top: -130px;
    width: 520px;
    height: 150px;
    background: var(--blue);
    filter: blur(100px);
    z-index: -1;
  }
  .links a{
    margin-right: 25px;
    text-decoration: none;
    color : var(--bluegrey);
    font-weight: 500;
  }
  .links a:hover{
    transition: all 0.3s;
    color: var(--white);
  }
  .links .active{
    color: var(--white);
  }